/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}    
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.container {
    max-width: 1140px;
    padding: 0 10px;
    text-align: center;
    margin: auto;
}
section {
    padding: 20px 0;
}
/* Splash +Navigation*/

.splash {
    background-image: url(../images/img-slash.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.splash-inner {
    margin: auto;
    max-width: 70%;
    text-align: center;
}
.page-title {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    font-style: italic;

  
}
.sub-title {
    margin: 20px 0px;
    font-weight: 600;
    font-size: 50px;
    
}
.btn {
    display: inline-block;
    min-width: 120px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    font-weight: 500;
    background: #4834d4;
    color: black;
    background-image: linear-gradient(to bottom right, #a4b0be, #0c2461);
}
.btn:hover {
    background-position: 0 100%;
    color: white;
    transition: all 1s;
}
/*Our services*/
.section-title {
    position: relative;
    font-size: 36px;
    margin: 0 0 60px 0;
}
.section-title:after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 100px;
    height: 5px;
    transform: translateX(-50%);
    background: #0c2461;
}
.box-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    .box {
        margin: 20px;
        padding: 20px;
        i {
            font-size: 80px;
            margin-bottom: 20px;
            color: #0c2461;
        }  
    }    
}
/*Portfolio*/
.portfolio {
    background-color:  #E9EDEE;
    .portfolio-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0;
        .port-box {
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            
            .box-image {
                
                img {
                    width: 100%,
                }
            }
            .port-description {
                background: white;
                h4 {
                font-weight: 600;
                }
            }
        }  
    }
}
.footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    text-align: left;
    .footer-left {
        flex: 1;
    }
    .footer-list {
        flex: 2;
        ul {
            text-align: left;
            list-style-position: inside;
            li {
                font-size: 0;
                display: inline;
                i {
                    font-size: 30px;
                    padding: 0 20px;
                }
                i:hover {
                   transform: scale(2); 
                }
            }
        }
    }
}
/*Media*/
@media (max-width: 767px) {
    .container {
        max-width: 100%;    
    }
    .splash-inner {
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 20px 0;
        .sub-title {
            font-size: 36px;
        }
    }
    .box-about {
        display: flex;
        flex-direction: column;
    }
    .portfolio {
        .portfolio-row {
            display: flex;
            flex-direction: column;
            .port-box {
                margin-top: 20px;
            }
        }
    }
    .footer {
        max-width: 100%;
        .footer-left {
            h3 {
            font-size: 20px;
            }
        }
        .footer-list ul {
            max-width: 100%;
            li {
                max-width: 100%;
                i {
                    max-width: 100%;
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }
}