/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}    
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.container {
    max-width: 1140px;
    padding: 0 10px;
    text-align: center;
    margin: none;
}
section {
    padding: 20px 0;
}
/* Splash +Navigation*/

.splash {
    background-image: url(../images/img-slash.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left {
        h3 {
            margin: 0;       
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        height: 2em;
        line-height: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        a {
        text-decoration: none;
        color: white;
        padding: 0 5px;
        margin: 0;
        }
    }
}
    
.splash-inner {
    margin: auto;
    max-width: 70%;
}
.page-title {
    margin: 0;
    word-spacing: 24px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 50px;
  
}
.sub-title {
    margin: 20px 0px;
    font-size: 18px;
}
.btn {
    display: inline-block;
    min-width: 120px;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid;
    background-position: 100% 0;
    background-size: 300%;
    font-weight: 500;
    border-color: black;
    color: white;
    background-image: linear-gradient(90deg, 50% white, transparent 50%);
}
.btn:hover {
    background-position: 0 100%;
    color: #4834d4;
    transition: all 1s;
}
/*Our services*/
.section-title {
    position: relative;
    font-size: 36px;
    margin: 0 0 60px 0;
}
.section-title:after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 100px;
    height: 5px;
    transform: translateX(-50%);
    background: #4834d4;
}
.box-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    .box {
        margin: 20px;
        padding: 20px;
        i {
            font-size: 80px;
            margin-bottom: 20px;
            color: #4834d4;
        }  
    }    
}
/*Portfolio*/
.portfolio {
    background-color:  #E9EDEE;
    .portfolio-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0;
        .port-box {
            display: flex;
            flex-direction: column;
            .box-image {
                img {
                    width: 100%,
                    object-fit: cover;
                }
            }
        }  
    }
}
.footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    .footer-left {
        flex: 1;
    }
    .footer-list {
        flex: 3;
        ul {
            text-align: center;
            list-style-position: inside;
            li {
                font-size: 0;
                display: inline;
                i {
                    font-size: 30px;
                    padding: 0 20px;
                }
                i:hover {
                   transform: scale(2); 
                }
            }
        }
    }
}
